@model VisualizeHealthData.Web.Models.ViewModels.RecordOverviewViewModel

@using VisualizeHealthData.Web.Models
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>
    Antal: @ViewBag.Record
</p>

@foreach (var typeOfRecord in Model.Records.Records)
{
    <h2>@typeOfRecord.Key</h2>

    foreach (var sourceOfRecord in typeOfRecord.Value)
    {
        <h3>@sourceOfRecord.Key</h3>

        <table class="table table-striped">
            @foreach (var record in sourceOfRecord.Value)
            {
                <tr>
                    <td>@record.value</td>
                    <td>@record.unit</td>
                    <td>@record.startDate</td>
                    <td>@record.endDate</td>
                    <td>@record.creationDate</td>
                    <td>@record.type</td>
                    <td>@record.sourceName</td>

                </tr>
            }
        </table>
    }
}


